<div class="equipmentDetail" id="addSystem">
    <div class="content">
        <div class="headerd">
            <span class="btn fl">
                <pbutton-white text="取消" click=""></pbutton-white>
            </span>
            <span class="btn fr">
                <pbutton-white text="添加新系统" click="showAddSystem"></pbutton-white>
            </span>
        </div>
        <div class="contentd addSystemCont">
            <div class="leftCont">
                <div class="leftHead">
                    <div class="dropItem">
                        <span class="dropTitle">系统类型：
                        </span>
                        <div class="dropBox">
                            <pcombobox-normal bind="true" id="'cbx_id_system'" sel="cbx_sel_system">
                                <header placeholder="请选择系统"></header>
                                <item datasource="systemTypeArr" text="name"></item>
                            </pcombobox-normal>
                        </div>
                    </div>
                    <div class="dropItem">
                        <span class="dropTitle">专业：
                        </span>
                        <div class="dropBox">
                            <pcombobox-normal bind="true" id="'cbx_id_domin'" sel="cbx_sel_domin">
                                <header placeholder="请选择专业"></header>
                                <item datasource="majorTypeArr" text="name"></item>
                            </pcombobox-normal>
                        </div>
                    </div>

                </div>
                <div class="treeList">
                    <div class="buildItem" v-for="item in buildSystemTree">
                        <div class="buildTitle" stype="close"><span class="arrow" onclick="showSystList(event)">r</span><span>{{item.build_name}}</span></div>
                        <div class="systemCont">
                            <div class="noData" v-show="item.system.length==0">该建筑在当前筛选项下尚无系统</div>
                            <ul class="systemList" v-show="item.system.length>0">
                                <li v-for="sitem in item.system" @click='_clickQuerySystem(sitem)'>{{sitem.system_local_name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="buildItem" v-show='!buildSystemTree.length'>
                        <div class="buildTitle" stype="close"><span class="arrow" onclick="showSystList(event)">r</span><span>建筑名称a</span></div>
                        <div class="systemCont">
                            <div class="noData">该建筑在当前筛选项下尚无系统</div>
                            <ul class="systemList"></ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="rightCont">
                <div class="detailFloat">
                    <div class="detailHead">系统详情</div>

                    <div v-for='item in totalPoints'>
                        <div class="detailItem" v-for='info in item.info_Points'>
                            <div class="contShow canEdit">
                                <span class="name">{{item.info_name}}：</span><span class="cont">{{item.str_value}}</span>
                                <span
                                    class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                            </div>
                            <div class="editShow">
                                <span class="name">{{item.info_name}}：</span>

                                <div class="editInput" v-if='info.type==0'>
                                    <ptext-text placeholder="最多10个字" value='info.str_value'>
                                        <verify errtip="不能为空" verifytype="space">
                                            <verify>
                                    </ptext-text>
                                </div>
                                <div class="editInput" v-if='info.type==1'>
                                    <pcombobox-normal id="'cbx_Points_id_'+info.info_code" bind='true'>
                                        <header placeholder="请选择保险单号"></header>
                                        <item datasource="insurer_infos" text="name"></item>
                                    </pcombobox-normal>
                                </div>
                                <div class="editInput" v-if='info.type==2'>
                                    <div class="per-switch-checkbox" v-for='check in info.cmpt_data' @click='check.isChecked=!check.isChecked'>
                                        <span class="per-checkbox_input" :class="{'per-checkbox-checked':check.isChecked}"></span>
                                        <span class="per-switch_label" v-text='check.name'></span>
                                    </div>
                                </div>
                                <div class="editInput" v-if='info.type==3'>
                                    <pupload-attachment id="'cbx_Points_id_'+info.info_code" number="4" bind='true'></pupload-attachment>
                                </div>
                                <div class="editInput" v-if='info.type==4'>
                                    <ptext-text value='info.str_value' bind='true' text="info.unit">
                                    </ptext-text>
                                </div>

                                <span class="cancel" onclick="_clickSystemWillSubmit($event,info)">x</span>
                                <span class="sure" onclick="_clickSystemWillCancel($event,info)">Z</span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="noData"></div>
            </div>
        </div>
    </div>
    <div class="content" id="addSystemDiv" style="display: none;">
        <div class="headerd">
            <span class="btn fl">
                <pbutton-white text="取消" click="hideAddSystem"></pbutton-white>
            </span>
            <span class="btn fr">
                <pbutton-blue text="保存" click=""></pbutton-blue>
            </span>
        </div>
        <div class="contentd i_borderTop">
            <div class="i_content sys_i_content">
                <div class="own verticalAxes" id="spaceNavigBar">
                    <div class="circleDiv">
                        <div class="circle sel" stype="baseSection">
                            <span class="name">基础</span>
                        </div>
                        <div class="circle" stype="technoSection">
                            <span class="name">技术参数</span>
                        </div>
                    </div>
                </div>
                <div class="moduleItem" id="baseSection" v-for='item in totalPoints'>
                    <div class="header" v-text='item.tag'></div>
                    <div class="eachItem lineItem" v-for='info in item.info_Points'>
                        <div class="name"><span v-text='info.info_name'></span></div>
                        <div class="cont" v-if='info.type==0'>
                            <ptext-text placeholder="最多10个字" value='info.str_value'>
                                <verify errtip="不能为空" verifytype="space">
                                    <verify>
                            </ptext-text>
                        </div>
                        <div class="cont" v-if='info.type==1'>
                            <pcombobox-normal id="'cbx_Points_id_'+info.info_code" bind='true'>
                                <header placeholder="请选择保险单号"></header>
                                <item datasource="insurer_infos" text="name"></item>
                            </pcombobox-normal>
                        </div>
                        <div class="cont" v-if='info.type==2'>
                            <div class="per-switch-checkbox" v-for='check in info.cmpt_data' @click='check.isChecked=!check.isChecked'>
                                <span class="per-checkbox_input" :class="{'per-checkbox-checked':check.isChecked}"></span>
                                <span class="per-switch_label" v-text='check.name'></span>
                            </div>
                        </div>
                        <div class="cont" v-if='info.type==3'>
                            <pupload-attachment id="'cbx_Points_id_'+info.info_code" number="4" bind='true'></pupload-attachment>
                        </div>
                        <div class="cont" v-if='info.type==4'>
                            <ptext-text value='info.str_value' bind='true' text="info.unit">
                            </ptext-text>
                        </div>
                    </div>
                    <!--<div class="eachItem lineItem">
                        <div class="name"><span><em>*</em>系统编码</span></div>
                        <div class="cont">
                            <ptext-text placeholder="最多50个字">
                                        <verify errtip="不能为空" verifytype="space"><verify>
                                    </ptext-text>
                        </div>
                    </div>
                    <div class="eachItem lineItem">
                        <div class="name"><span><em>*</em>所属建筑</span></div>
                        <div class="cont">
                            <pcombobox-normal align="left" sel="" id="'spaceFloorDrop'">
                                        <header placeholder="请选择建筑"></header>
                                        <item datasource="spaceFloorArr" text="floor_local_name"></item>
                                    </pcombobox-normal>
                        </div>
                    </div>
                    <div class="eachItem lineItem">
                        <div class="name"><span><em>*</em>所属专业</span></div>
                        <div class="cont">
                            <pcombobox-normal align="left" sel="">
                                        <header placeholder="请选择专业"></header>
                                        <item datasource="spaceFloorArr" text="floor_local_name"></item>
                                    </pcombobox-normal>
                        </div>
                    </div>
                    <div class="eachItem lineItem">
                        <div class="name"><span><em>*</em>所属系统类型</span></div>
                        <div class="cont">
                            <pcombobox-normal align="left" sel="">
                                        <header placeholder="请选择系统类型"></header>
                                        <item datasource="spaceFloorArr" text="floor_local_name"></item>
                                    </pcombobox-normal>
                        </div>
                    </div>-->
                </div>
                <!--<div class="moduleItem" id="technoSection">
                    <div class="header">技术参数</div>
                    <div class="eachItem lineItem">
                        <div class="name"><span><em>*</em>名称</span></div>
                        <div class="cont">
                            <ptext-text placeholder="最多10个字">
                                        <verify errtip="不能为空" verifytype="space"><verify>
                                    </ptext-text>
                        </div>
                    </div>


                </div>-->
            </div>
        </div>
    </div>
</div>