<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sagacloud.superclass.dao.Operate_logMapper" >
  <resultMap id="BaseResultMap" type="com.sagacloud.superclass.pojo.Operate_log" >
    <id column="log_id" property="logId" jdbcType="VARCHAR" />
    <result column="operate_person_id" property="operatePersonId" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="operate_type" property="operateType" jdbcType="VARCHAR" />
    <result column="request_method" property="requestMethod" jdbcType="VARCHAR" />
    <result column="request_content" property="requestContent" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_result" property="operateResult" jdbcType="VARCHAR" />
    <result column="result_content" property="resultContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, operate_person_id, table_name, operate_type, request_method, request_content, 
    operate_time, operate_result, result_content, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_operate_log
    where log_id = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_operate_log
    where log_id = #{logId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sagacloud.superclass.pojo.Operate_log" >
    insert into t_operate_log (log_id, operate_person_id, table_name, 
      operate_type, request_method, request_content, 
      operate_time, operate_result, result_content, 
      create_time)
    values (#{logId,jdbcType=VARCHAR}, #{operatePersonId,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{operateType,jdbcType=VARCHAR}, #{requestMethod,jdbcType=VARCHAR}, #{requestContent,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateResult,jdbcType=VARCHAR}, #{resultContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sagacloud.superclass.pojo.Operate_log" >
    insert into t_operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="operatePersonId != null" >
        operate_person_id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="requestMethod != null" >
        request_method,
      </if>
      <if test="requestContent != null" >
        request_content,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="operateResult != null" >
        operate_result,
      </if>
      <if test="resultContent != null" >
        result_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="operatePersonId != null" >
        #{operatePersonId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="requestContent != null" >
        #{requestContent,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateResult != null" >
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="resultContent != null" >
        #{resultContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sagacloud.superclass.pojo.Operate_log" >
    update t_operate_log
    <set >
      <if test="operatePersonId != null" >
        operate_person_id = #{operatePersonId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        request_method = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="requestContent != null" >
        request_content = #{requestContent,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateResult != null" >
        operate_result = #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="resultContent != null" >
        result_content = #{resultContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sagacloud.superclass.pojo.Operate_log" >
    update t_operate_log
    set operate_person_id = #{operatePersonId,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=VARCHAR},
      request_method = #{requestMethod,jdbcType=VARCHAR},
      request_content = #{requestContent,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      result_content = #{resultContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>
</mapper>