<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sagacloud.superclass.dao.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.sagacloud.superclass.pojo.Team" >
    <id column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_num" property="teamNum" jdbcType="VARCHAR" />
    <result column="creater_id" property="createrId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    team_id, team_name, team_num, creater_id, create_time, update_time, valid
  </sql>
  
  <select id="selectByTeamNum" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List" />
  	from t_team
  	where team_num = #{teamNum,jdbcType=VARCHAR} and valid = 1
  </select>
  
  <select id="selectMaxTeamNum" resultType="java.lang.Integer">
  	select 
  	max(team_num) as team_num
  	from t_team
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_team
    where team_id = #{teamId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_team
    where team_id = #{teamId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sagacloud.superclass.pojo.Team" >
    insert into t_team (team_id, team_name, team_num, 
      creater_id, create_time, update_time, 
      valid)
    values (#{teamId,jdbcType=VARCHAR}, #{teamName,jdbcType=VARCHAR}, #{teamNum,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sagacloud.superclass.pojo.Team" >
    insert into t_team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="teamNum != null" >
        team_num,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamNum != null" >
        #{teamNum,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sagacloud.superclass.pojo.Team" >
    update t_team
    <set >
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamNum != null" >
        team_num = #{teamNum,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=VARCHAR},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sagacloud.superclass.pojo.Team" >
    update t_team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_num = #{teamNum,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=VARCHAR}
    where team_id = #{teamId,jdbcType=VARCHAR}
  </update>
</mapper>