<% include ../../../template/pageHead.html %>
<script type="text/javascript" src="../js/equipmentSpace/printCard/event.js"></script>
<script type="text/javascript" src="../js/equipmentSpace/printCard/model.js"></script>
<script type="text/javascript" src="../js/public/globalController.js"></script>
<script type="text/javascript" src="../js/equipmentSpace/printCard/controller.js"></script>

<link rel="stylesheet" href="../css/equipmentSpace/printCard/print.css" />

<script src="../js/workOrder/myWorkOrder/event.js"></script>
<script src="../js/workOrder/myWorkOrder/model.js"></script>
<script type="text/javascript" src="../js/public/globalController.js"></script>
<script src="../js/workOrder/myWorkOrder/controller.js"></script>

<!--<link rel="stylesheet" href="../css/basicMng/person/index.css" />-->
<link rel="stylesheet" href="../css/workOrder/myWorkOrder/myWorkOrderList.css" />
<link rel="stylesheet" href="../css/workOrder/myWorkOrder/myWorkOrderCreate.css" />
<!--<link rel="stylesheet" href="/css/workOrder/myWorkOrder/newSop.css" />-->

<div id="myWorkOrder">
    <%include myWorkOrder.html%>
</div>


<% include ../../../template/pageFoot.html %>