<script type="text/javascript">var pticket="8f45103a02b90cca6e6041a2587f0b44d3ba3d50ac34bf994b2a72761a7c2d730bb8eea2c73b0d666b10f1eed68a32f8e286c13cb0b6961ce29e8a99753adb97b9ed4e961f5a8874d4784cd42d5d0740023ee3fc993b39c77d86d53f4be47bc54221e3253a85fd2c54e753903329c81cf041ae1d1e5917b80ea39801b2b125e93d1a7750224da27b2e6bea80e75f4eab2b8262e0f0b35d221001a33722ef916db1a20097a8a29db2d94f2abedaccff79e78655c747b09886dd57d38a58f0cdcd";</script><% include ./template/pageHead.html %>
<script type="text/javascript" src="/js/layout.js"></script>
<div id="div1">
    <pframe-normal id="'pfnor'" title="'智赢管家'">
        <user head="head" name="userName">
            <item datasource="userMenus" click="selUserMenu"></item>
        </user>
        <item datasource="menuItems" text="name" child="menu" url="url">
            <manage text="'项目管理'" url="/system"></manage>
            <combobox>
                <pcombobox-normal sel="selProject" id="'combobox1'" isborder="false" orientation="down" bind="true">
                    <header placeholder="项目名称"></header>
                    <item datasource="projectList" text="project_name"></item>
                </pcombobox-normal>
            </combobox>
        </item>
    </pframe-normal>
</div>

<% include ./template/pageFoot.html %>