<div class="matter-regular" v-show="myWorkOrderModel.regular" v-for="(model, index0) in allMatters">
    <div class="regular-text-div">
        <div class="regular-obj-text">
            <div class="textarea-div">
                <span>我要对</span>
                <div>
                    <textarea v-model="model.desc_forepart" onkeyup="yn_method.bothCountNum(this,this.value)"></textarea>
                    <div class="textareadiv"></div>
                    <div class="textarea-prop" >
                        <% include aite.html %>
                    </div>
                </div>
            </div>
            <div class="add-obj-sop-content">
                <div class="add-obj" onclick="yn_method.clickAiteShowFn(this,true,event)">
                    <span>@添加对象</span>
                    <% include aite.html %>
                </div>
            </div>
        </div>
        <div class="regular-sop-text">
            <div class="textarea-div">
                <span>进行</span>
                <div>
                    <textarea v-model="model.desc_aftpart" onkeyup="yn_method.bothCountNum(this,this.value)"></textarea>
                    <div class="textareadiv"></div>
                    <div class="textarea-prop" >
                        <% include hashtag.html %>
                    </div>
                </div>
            </div>
            <div class="add-obj-sop-content">
                <div class="add-sop" onclick="yn_method.clickAiteShowFn(this,false,event)">
                    <span>#添加SOP</span>
                    <% include hashtag.html %>
                </div>
                <div class="add-content" onclick="yn_method.addContent(true)">
                    <span>添加工作内容</span>
                </div>
            </div>
            <span class="counter"><b>0</b>/1000</span>
        </div>
    </div>

</div>